h1 {
  color: green;
  font-size: 500%;
}

.logo {
  width: 30%;
}

.red-tracker {
  width: 7%;
}

.green-tracker {
  width: 7%;
}

.selected {
  color: #22bdf0;
}

.meal-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.log-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
