body {
}

h1 {
  color: #29b473;
  font-size: 600%;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

h3 {
  font-family: "Arial Black", Gadget, sans-serif;
}

.meal-tracker {
  margin: 50px;
}

.logo {
  width: 20%;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}

.red-tracker {
  width: 7%;
  margin: auto;
  display: block;
}

.green-tracker {
  width: 7%;
  margin: auto;
  display: block;
}

.selected {
  color: #c5553c;
}

.meal-form {
  margin-top: 10px;
  margin-bottom: 10px;
}

.log-button {
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #29b473;
}

#calorie-filter {
  font-size: 200%;
}
